body{
    height:100%;
    width:100%;
    text-align: center;
}
header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #4682B4;
  z-index: 1;
}
header h3{
    color: white;
}
article {
    z-index:2;
    margin-top: 90px;
}

button {
display: inline-block;
color: #fff;
background-color: #0068B4;
padding: 10px 20px;
text-decoration: none;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
border: 0px;
}